<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seadun.rebot.mapper.ContractMapper">
  <resultMap id="BaseResultMap" type="com.seadun.rebot.entity.Contract">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="contract" jdbcType="VARCHAR" property="contract" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="upt_time" jdbcType="TIMESTAMP" property="uptTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, contract, crt_time, upt_time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contract
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  
  
  
  <!-- 新增根據對象查詢所有的匹配內容 -->
  <select id="select" parameterType="com.seadun.rebot.entity.Contract" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contract
    where 1=1
    <if test="id != null">
     and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="contract != null">
     and contract =  #{contract,jdbcType=VARCHAR}
    </if>
    <if test="status != null">
     and status = #{status,jdbcType=VARCHAR}
    </if>
  </select>
  
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from contract
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.seadun.rebot.entity.Contract">
    insert into contract (id, contract, crt_time, 
      upt_time, status)
    values (#{id,jdbcType=VARCHAR}, #{contract,jdbcType=VARCHAR}, #{crtTime,jdbcType=TIMESTAMP}, 
      #{uptTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.seadun.rebot.entity.Contract">
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contract != null">
        contract,
      </if>
      <if test="crtTime != null">
        crt_time,
      </if>
      <if test="uptTime != null">
        upt_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="contract != null">
        #{contract,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptTime != null">
        #{uptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE
    <trim>
      <if test="uptTime != null">
        upt_time = #{uptTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seadun.rebot.entity.Contract">
    update contract
    <set>
      <if test="contract != null">
        contract = #{contract,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptTime != null">
        upt_time = #{uptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seadun.rebot.entity.Contract">
    update contract
    set contract = #{contract,jdbcType=VARCHAR},
      crt_time = #{crtTime,jdbcType=TIMESTAMP},
      upt_time = #{uptTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>