<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seadun.rebot.mapper.ContractComputerMapper">
  <resultMap id="BaseResultMap" type="com.seadun.rebot.entity.ContractComputer">
    <result column="contract_detail_id" jdbcType="VARCHAR" property="contractDetailId" />
    <result column="contract_id" jdbcType="VARCHAR" property="contractId" />
    <result column="computer_id" jdbcType="VARCHAR" property="computerId" />
    <result column="eq_type" jdbcType="VARCHAR" property="eqType" />
    <result column="eq_model" jdbcType="VARCHAR" property="eqModel" />
    <result column="eq_no" jdbcType="VARCHAR" property="eqNo" />
    <result column="cpu" jdbcType="VARCHAR" property="cpu" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="contract_detail_status" jdbcType="VARCHAR" property="contractDetailStatus" />
    <result column="contract_detail_upt_time" jdbcType="TIMESTAMP" property="contractDetailUptTime" />
    <result column="contract" jdbcType="VARCHAR" property="contract" />
    <result column="contract_status" jdbcType="VARCHAR" property="contractStatus" />
    <result column="bios_sn" jdbcType="VARCHAR" property="biosSn" />
    <result column="op_system" jdbcType="VARCHAR" property="opSystem" />
    <result column="op_install_date" jdbcType="VARCHAR" property="opInstallDate" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>
  <sql id="Base_Column_List">
    contract_detail_id, contract_id, computer_id, eq_type,eq_model, eq_no,cpu,version,contract_detail_status,contract_detail_upt_time,contract,contract_status,bios_sn,op_system,op_install_date,ip
  </sql>
  <!-- 新增根據對象查詢所有的匹配內容 -->
  <select id="selectPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contract_computer
    where 1=1
    <if test="computerId != null">
        and computer_id = #{computerId,jdbcType=VARCHAR}
    </if>
    <if test="contractDetailStatus != null">
        and contract_detail_status = #{contractDetailStatus,jdbcType=VARCHAR}
    </if>
    <if test="contractStatus != null">
        and contract_status = #{contractStatus,jdbcType=VARCHAR}
    </if>
    <if test="contractId != null">
        and contract_id = #{contractId,jdbcType=VARCHAR}
    </if>
    <if test="startTime != null">
        and contract_detail_upt_time <![CDATA[ >= ]]> #{startTime,jdbcType=VARCHAR}
    </if>
    <if test="endTime != null">
        and contract_detail_upt_time <![CDATA[ <= ]]> #{endTime,jdbcType=VARCHAR}
    </if>
    order by eq_no
  </select>
  
  <!-- 新增根據對象查詢所有的匹配內容 -->
  <select id="select" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contract_computer
    where 1=1
    <if test="contractDetailStatus != null">
        and contract_detail_status = #{contractDetailStatus,jdbcType=VARCHAR}
    </if>
    <if test="contractId != null">
        and contract_id = #{contractId,jdbcType=VARCHAR}
    </if>
    <if test="startTime != null">
        and contract_detail_upt_time <![CDATA[ >= ]]> #{startTime,jdbcType=VARCHAR}
    </if>
    <if test="endTime != null">
        and contract_detail_upt_time <![CDATA[ <= ]]> #{endTime,jdbcType=VARCHAR}
    </if>
    order by eq_no
  </select>
</mapper>