<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seadun.rebot.mapper.DiskMapper">
  <resultMap id="BaseResultMap" type="com.seadun.rebot.entity.Disk">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="computer_id" jdbcType="VARCHAR" property="computerId" />
    <result column="disk_sn" jdbcType="VARCHAR" property="diskSn" />
    <result column="disk_interface_type" jdbcType="VARCHAR" property="diskInterfaceType" />
    <result column="disk_capacity" jdbcType="VARCHAR" property="diskCapacity" />
    <result column="disk_shell_sn" jdbcType="VARCHAR" property="diskShellSn" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="upt_time" jdbcType="TIMESTAMP" property="uptTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, computer_id, disk_sn, disk_interface_type, disk_capacity, disk_shell_sn, crt_time, 
    upt_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from disk
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from disk
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByComputerId" parameterType="java.lang.String">
    delete from disk
    where computer_id = #{computerId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByComputerIds" parameterType="java.util.List">
    delete from disk where computer_id in <foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item}</foreach>
  </delete>
  <insert id="insert" parameterType="com.seadun.rebot.entity.Disk">
    insert into disk (id, computer_id, disk_sn, 
      disk_interface_type, disk_capacity, disk_shell_sn, 
      crt_time, upt_time)
    values (#{id,jdbcType=VARCHAR}, #{computerId,jdbcType=VARCHAR}, #{diskSn,jdbcType=VARCHAR}, 
      #{diskInterfaceType,jdbcType=VARCHAR}, #{diskCapacity,jdbcType=VARCHAR}, #{diskShellSn,jdbcType=VARCHAR}, 
      #{crtTime,jdbcType=TIMESTAMP}, #{uptTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.seadun.rebot.entity.Disk">
    insert into disk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="computerId != null">
        computer_id,
      </if>
      <if test="diskSn != null">
        disk_sn,
      </if>
      <if test="diskInterfaceType != null">
        disk_interface_type,
      </if>
      <if test="diskCapacity != null">
        disk_capacity,
      </if>
      <if test="diskShellSn != null">
        disk_shell_sn,
      </if>
      <if test="crtTime != null">
        crt_time,
      </if>
      <if test="uptTime != null">
        upt_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="computerId != null">
        #{computerId,jdbcType=VARCHAR},
      </if>
      <if test="diskSn != null">
        #{diskSn,jdbcType=VARCHAR},
      </if>
      <if test="diskInterfaceType != null">
        #{diskInterfaceType,jdbcType=VARCHAR},
      </if>
      <if test="diskCapacity != null">
        #{diskCapacity,jdbcType=VARCHAR},
      </if>
      <if test="diskShellSn != null">
        #{diskShellSn,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptTime != null">
        #{uptTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE
    <trim>
      <if test="diskInterfaceType != null">
        disk_interface_type = #{diskInterfaceType,jdbcType=VARCHAR},
      </if>
      <if test="diskCapacity != null">
        disk_capacity = #{diskCapacity,jdbcType=VARCHAR},
      </if>
      <if test="diskShellSn != null">
        disk_shell_sn = #{diskShellSn,jdbcType=VARCHAR},
      </if>
      <if test="uptTime != null">
        upt_time = #{uptTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seadun.rebot.entity.Disk">
    update disk
    <set>
      <if test="computerId != null">
        computer_id = #{computerId,jdbcType=VARCHAR},
      </if>
      <if test="diskSn != null">
        disk_sn = #{diskSn,jdbcType=VARCHAR},
      </if>
      <if test="diskInterfaceType != null">
        disk_interface_type = #{diskInterfaceType,jdbcType=VARCHAR},
      </if>
      <if test="diskCapacity != null">
        disk_capacity = #{diskCapacity,jdbcType=VARCHAR},
      </if>
      <if test="diskShellSn != null">
        disk_shell_sn = #{diskShellSn,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptTime != null">
        upt_time = #{uptTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seadun.rebot.entity.Disk">
    update disk
    set computer_id = #{computerId,jdbcType=VARCHAR},
      disk_sn = #{diskSn,jdbcType=VARCHAR},
      disk_interface_type = #{diskInterfaceType,jdbcType=VARCHAR},
      disk_capacity = #{diskCapacity,jdbcType=VARCHAR},
      disk_shell_sn = #{diskShellSn,jdbcType=VARCHAR},
      crt_time = #{crtTime,jdbcType=TIMESTAMP},
      upt_time = #{uptTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 新增根據對象查詢所有的匹配內容 -->
  <select id="selectPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from disk
    where 1=1
    <if test='computerId != null'>
     and computer_id = #{computerId,jdbcType=VARCHAR}
    </if>
  </select>
   <!-- 新增根據對象查詢所有的匹配內容 -->
  <select id="select" parameterType="com.seadun.rebot.entity.Disk" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from disk
    where 1=1
    <if test="computerId != null">
      and computer_id = #{computerId,jdbcType=VARCHAR}
    </if>
    <if test="diskSn != null">
      and disk_sn = #{diskSn,jdbcType=VARCHAR}
    </if>
    <if test="diskInterfaceType != null">
      and disk_interface_type = #{diskInterfaceType,jdbcType=VARCHAR}
    </if>
    <if test="diskCapacity != null">
      and disk_capacity = #{diskCapacity,jdbcType=VARCHAR}
    </if>
    <if test="diskShellSn != null">
      and disk_shell_sn = #{diskShellSn,jdbcType=VARCHAR}
    </if>
    <if test="crtTime != null">
      and crt_time = #{crtTime,jdbcType=TIMESTAMP}
    </if>
    <if test="uptTime != null">
      and upt_time = #{uptTime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>