<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seadun.rebot.mapper.MemoryMapper">
  <resultMap id="BaseResultMap" type="com.seadun.rebot.entity.Memory">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="computer_id" jdbcType="VARCHAR" property="computerId" />
    <result column="mem_sn" jdbcType="VARCHAR" property="memSn" />
    <result column="mem_type" jdbcType="VARCHAR" property="memType" />
    <result column="mem_capacity" jdbcType="VARCHAR" property="memCapacity" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="upt_time" jdbcType="TIMESTAMP" property="uptTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, computer_id, mem_sn, mem_type, mem_capacity, crt_time, upt_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from memory
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from memory
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByComputerId" parameterType="java.lang.String">
    delete from memory
    where computer_id = #{computerId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.seadun.rebot.entity.Memory">
    insert into memory (id, computer_id, mem_sn, 
      mem_type, mem_capacity, crt_time, 
      upt_time)
    values (#{id,jdbcType=VARCHAR}, #{computerId,jdbcType=VARCHAR}, #{memSn,jdbcType=VARCHAR}, 
      #{memType,jdbcType=VARCHAR}, #{memCapacity,jdbcType=VARCHAR}, #{crtTime,jdbcType=TIMESTAMP}, 
      #{uptTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.seadun.rebot.entity.Memory">
    insert into memory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="computerId != null">
        computer_id,
      </if>
      <if test="memSn != null">
        mem_sn,
      </if>
      <if test="memType != null">
        mem_type,
      </if>
      <if test="memCapacity != null">
        mem_capacity,
      </if>
      <if test="crtTime != null">
        crt_time,
      </if>
      <if test="uptTime != null">
        upt_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="computerId != null">
        #{computerId,jdbcType=VARCHAR},
      </if>
      <if test="memSn != null">
        #{memSn,jdbcType=VARCHAR},
      </if>
      <if test="memType != null">
        #{memType,jdbcType=VARCHAR},
      </if>
      <if test="memCapacity != null">
        #{memCapacity,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptTime != null">
        #{uptTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE
    <trim>
      <if test="memType != null">
        mem_type = #{memType,jdbcType=VARCHAR},
      </if>
      <if test="memCapacity != null">
        mem_capacity = #{memCapacity,jdbcType=VARCHAR},
      </if>
      <if test="uptTime != null">
        upt_time = #{uptTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.seadun.rebot.entity.Memory">
    update memory
    <set>
      <if test="computerId != null">
        computer_id = #{computerId,jdbcType=VARCHAR},
      </if>
      <if test="memSn != null">
        mem_sn = #{memSn,jdbcType=VARCHAR},
      </if>
      <if test="memType != null">
        mem_type = #{memType,jdbcType=VARCHAR},
      </if>
      <if test="memCapacity != null">
        mem_capacity = #{memCapacity,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptTime != null">
        upt_time = #{uptTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.seadun.rebot.entity.Memory">
    update memory
    set computer_id = #{computerId,jdbcType=VARCHAR},
      mem_sn = #{memSn,jdbcType=VARCHAR},
      mem_type = #{memType,jdbcType=VARCHAR},
      mem_capacity = #{memCapacity,jdbcType=VARCHAR},
      crt_time = #{crtTime,jdbcType=TIMESTAMP},
      upt_time = #{uptTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
   <!-- 新增根據對象查詢所有的匹配內容 -->
  <select id="select" parameterType="com.seadun.rebot.entity.Memory" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from memory
    where 1=1
    <if test="computerId != null">
        and computer_id = #{computerId,jdbcType=VARCHAR}
      </if>
      <if test="memSn != null">
        and mem_sn = #{memSn,jdbcType=VARCHAR}
      </if>
      <if test="memType != null">
        and mem_type = #{memType,jdbcType=VARCHAR}
      </if>
      <if test="memCapacity != null">
        and mem_capacity = #{memCapacity,jdbcType=VARCHAR}
      </if>
      <if test="crtTime != null">
        and crt_time = #{crtTime,jdbcType=TIMESTAMP}
      </if>
      <if test="uptTime != null">
        and upt_time = #{uptTime,jdbcType=TIMESTAMP}
      </if>
  </select>
</mapper>